/*! site styles */
/*
	Breakpoints
	s-tab:   25em / 400px 
	l-tab:   43.75em / 700px
	desk:    56.25em / 900px
	m-desk:  71.875em / 1150px
	l-desk:  81.25em / 1300px

MQ Block:

@media only screen and (min-width: 25em) {
    
}

@media only screen and (min-width: 43.75em) {
    
}

@media only screen and (min-width: 56.25em) {
    
}

@media only screen and (min-width: 81.25em) {
    
}

Colors:

Orange: #DC5705;
Lightest Blue: #B7D0E8;
Light Blue: #8BB1DD;
Blue: #4A90E2;
Dark Blue: #35475B;

Fonts: 

Serif: "Alegreya", Georgia, "New Times Roman", serif;
Sans-serif: "Alegreya Sans", Helvetica, Arial, sans-serif;


*/

/* ==========================================================================
   HTML Elements
   ========================================================================== */

* {
	box-sizing: border-box;
}

p, 
th, 
td, 
ul, 
li {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h1 {
	color: #35475B;
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
	font-size: 3em;
	font-weight: 900;
}

h2 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h3 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h4 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h5 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h6 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

p {
	margin: 0 0 1em 0;
}

img {
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

figure {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Responsive Typography
   ========================================================================== */

p {
	
}
@media only screen and (min-width: 81.25em) {
    p {
	    font-size: 1.125em;
	}
}


/* ==========================================================================
   Layout
   ========================================================================== */

.section-content {
	margin: 0 auto;
	padding: 0 0.5em;
}
	@media only screen and (min-width: 25em) {
	    .section-content {
		    max-width: 98%;
	    }
	}
	
	@media only screen and (min-width: 43.75em) {
	    .section-content {
		    max-width: 75%;
	    }
	}
	
	@media only screen and (min-width: 56.25em) {
	    .section-content {
		    max-width: 72%;
	    }
	}
	
	@media only screen and (min-width: 71.875em) {
	    .section-content {
		    max-width: 54em;
	    }
	}
	
	@media only screen and (min-width: 81.25em) {
	    .section-content {
		    max-width: 60em;
	    }
	}




/* ==========================================================================
   Modules
   ========================================================================== */

/* header styles */
#banner {
	background-size: 1em 1em;
	background-color: #DC5705;
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	color: #ffffff;
	padding-bottom: 1.5em;
}
	@media only screen and (min-width: 56.25em) {
	    #banner {
		    padding-bottom: 2em;
	    }
	}

.branding {
	margin: 0;
	padding: 1em 0;
}

#logo {
	float: left;
	margin: 0 1em 0 0;	
	width: 5em;
}
	@media only screen and (min-width: 56.25em) {
	    #logo {
		    margin-left: -8em;
		    width: 7em;
	    }
	}

.branding h1 {
	color: #ffffff;
	font-size: 2em;
	margin: 0;
}
	@media only screen and (min-width: 56.25em) {
	    .branding h1 {
		    margin-top: 0.5em;
	    }
	}


.branding h2 {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

/* /header styles */

/* navigation styles */

body:before {
	content: "smallscreen";
	position: absolute;
	top: -999em;
	left: -999em;
	speak: none; 
}
	@media screen and (min-width: 25em) {
		body:before {
			content: "mediumscreen"; 
		} 
	}
	@media screen and (min-width: 43.75em) {
		body:before {
			content: "largescreen"; 
		} 
	}
	@media screen and (min-width: 56.25em) {
		body:before {
			content: "widescreen"; 
		} 
	}

#nav {
	margin: 0 auto;
	padding: 0 0.5em;
}
	@media only screen and (min-width: 25em) {
	    #nav {
		    max-width: 98%;
	    }
	}
	
	@media only screen and (min-width: 43.75em) {
	    #nav {
   			margin-top: -1em;
		    max-width: 75%;
		    padding: 0;
	    }
	}
	
	@media only screen and (min-width: 56.25em) {
	    #nav {
		    max-width: 72%;
	    }
	}
	
	@media only screen and (min-width: 71.875em) {
	    #nav {
		    max-width: 54em;
	    }
	}
	
	@media only screen and (min-width: 81.25em) {
	    #nav {
		    max-width: 60em;
	    }
	}

.nav-menu-toggle {
	background-color: #8BB1DD;
	border: 1px solid #35475B;
	border-radius: 0.15em;
	display: block;
	float: right;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding: 0.2em 0.35em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	right: 0.25em;
	top: -2.25em;
	width: 5em; 
}
	@media screen and (min-width: 43.75em) {
		.nav-menu-toggle {
			display: none; 
		} 
	}

.wf-active .nav-menu-toggle:before {
	content: "\f0c9";
	font-family: FontAwesome;
	padding-right: 0.25em;
}

.wf-active .nav-is-active .nav-menu-toggle:before {
	content: "\f057";
}

.nav-menu-toggle:link, 
.nav-menu-toggle:visited {
	color: #35475B; 
}
.nav-menu-toggle:hover {
	border-color: #35475B;
	color: #35475B; 
}

.main-nav {
	display: none; 
	background-color: #B7D0E8;
}
	@media screen and (min-width: 43.75em) {
		.main-nav {
			background-color: #B7D0E8;
			background: -moz-linear-gradient(top, #B7D0E8 0%, #8BB1DD 100%);
			background: -webkit-linear-gradient(top, #B7D0E8 0%,#8BB1DD 100%);
			background: linear-gradient(to bottom, #B7D0E8 0%,#8BB1DD 100%);
			-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
			-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
			box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
			display: block;
			margin-top: 0;
			float: none;
			padding-top: 0; 
		} 
	}

.main-nav[aria-expanded="true"] {
	display: block; 
}

.nav-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1.4; 
}
	@media screen and (min-width: 43.75em) {
		.nav-menu {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			flex-direction: row;
			justify-content: space-around;		
		}
	}
	
.nav-menu > ul {
	margin: 0;
	padding: 0; 
}

.nav-menu > ul .children {
	margin: 0;
	padding: 0 0 0 1em; 
}

.nav-menu > ul .children a {
	padding-left: 0;
	padding-right: 0; 
}

@media screen and (min-width: 43.75em) {
	.nav-menu > ul .children .children > li {
		padding-left: 0.75em; 
	} 
}

.menu-item, 
.page_item {
	margin: 0;
	border-top: 1px solid #8BB1DD;
	overflow: hidden;
	padding: 1em 0; 
	position: relative;
}
	
.nav-menu .menu-item:first-child, 
.nav-menu .page_item:first-child {
	border-top: none; 
}

@media screen and (min-width: 43.75em) {
	.menu-item, 
	.page_item {
		border-top: 0;
		display: inline-block;
		overflow: visible; 
		padding: 0;
		position: relative;
		vertical-align: baseline;
		zoom: 1;
		*display: inline;
		*vertical-align: auto;
		flex-grow: 1;
		text-align: center;
	}
}

.menu-item a, 
.page_item a {
	border-bottom: 0;
	color: #35475B;
	display: block;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-weight: 900;
	padding: 0 0.75em; 
	text-decoration: none; 
	text-transform: uppercase;
	-webkit-transition: background linear 0.15s;
	-moz-transition: background linear 0.15s;
	transition: background linear 0.15s; 
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}

@media screen and (min-width: 43.75em) {
	.menu-item a, 
	.page_item a {
		border-left: solid 1px #8BB1DD;
		border-right: solid 1px #B7D0E8;
		color: #ffffff;
		font-size: 1.25em;
		padding: 0.25em 1em 0.15em 1em; 
		text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
	} 
	.menu-item:first-child a {
		border-left: none;
	}
	.menu-item:last-child a {
		border-right: none;
	}
}

.menu-item:hover > a, 
.menu-item:focus > a, 
.menu-item.child-has-focus > a, 
.page_item:hover > a, 
.page_item:focus > a, 
.page_item.child-has-focus > a {
	font-weight: 900; 
}

@media screen and (min-width: 43.75em) {
	.menu-item:hover > a, 
	.menu-item:focus > a, 
	.menu-item.child-has-focus > a, 
	.page_item:hover > a, 
	.page_item:focus > a, 
	.page_item.child-has-focus > a {
		font-weight: 900;
		background: #35475B;
		background: -moz-linear-gradient(top, #35475B 0%, #25374B 100%);
		background: -webkit-linear-gradient(top, #35475B 0%,#25374B 100%);
		background: linear-gradient(to bottom, #35475B 0%,#25374B 100%);
		-webkit-box-shadow: 0 3px 0 0 #171717;
		-moz-box-shadow: 0 3px 0 0 #171717;
		box-shadow: 0 3px 0 0 #171717;
		color: #ffffff; 
	}
}

.menu-item:hover .sub-menu, 
.menu-item:hover .children, 
.menu-item:focus .sub-menu, 
.menu-item:focus .children, 
.menu-item.child-has-focus .sub-menu, 
.menu-item.child-has-focus .children, 
.page_item:hover .sub-menu, 
.page_item:hover .children, 
.page_item:focus .sub-menu, 
.page_item:focus .children, 
.page_item.child-has-focus .sub-menu, 
.page_item.child-has-focus .children {
	top: 100%;
	left: 0;
	margin-right: -1px; 
}
  
.menu-item .sub-menu a, 
.menu-item .children a, 
.menu-item .sub-menu a, 
.menu-item .children a, 
.menu-item.child-has-focus .sub-menu a, 
.menu-item.child-has-focus .children a, 
.page_item .sub-menu a, 
.page_item .children a, 
.page_item .sub-menu a, 
.page_item .children a, 
.page_item.child-has-focus .sub-menu a, 
.page_item.child-has-focus .children a {
	font-weight: normal;
	color: #35475B;
	text-shadow: none;
	text-transform: none;
}

.menu-item:hover .sub-menu a, 
.menu-item:hover .children a, 
.menu-item:focus .sub-menu a, 
.menu-item:focus .children a, 
.menu-item.child-has-focus .sub-menu a, 
.menu-item.child-has-focus .children a, 
.page_item:hover .sub-menu a, 
.page_item:hover .children a, 
.page_item:focus .sub-menu a, 
.page_item:focus .children a, 
.page_item.child-has-focus .sub-menu a, 
.page_item.child-has-focus .children a {
	font-weight: normal;
	color: #35475B;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
	text-shadow: none;
}

.menu-item:hover .sub-menu a:hover, 
.menu-item:hover .sub-menu a:focus, 
.menu-item:hover .children a:hover, 
.menu-item:hover .children a:focus, 
.menu-item:focus .sub-menu a:hover, 
.menu-item:focus .sub-menu a:focus, 
.menu-item:focus .children a:hover, 
.menu-item:focus .children a:focus, 
.menu-item.child-has-focus .sub-menu a:hover, 
.menu-item.child-has-focus .sub-menu a:focus, 
.menu-item.child-has-focus .children a:hover, 
.menu-item.child-has-focus .children a:focus, 
.page_item:hover .sub-menu a:hover, 
.page_item:hover .sub-menu a:focus, 
.page_item:hover .children a:hover, 
.page_item:hover .children a:focus, 
.page_item:focus .sub-menu a:hover, 
.page_item:focus .sub-menu a:focus, 
.page_item:focus .children a:hover, 
.page_item:focus .children a:focus, 
.page_item.child-has-focus .sub-menu a:hover, 
.page_item.child-has-focus .sub-menu a:focus, 
.page_item.child-has-focus .children a:hover, 
.page_item.child-has-focus .children a:focus {
	font-weight: bold; 
}

@media screen and (min-width: 43.75em) {
	.menu-item.active-trail > a, .page_item.active-trail > a {
		background: #35475B;
		color: #fff; 
	} 
}

.ui-toggle-button {
	background-color: #35475B;
	border: 0;
	box-shadow: none;
	color: #ffffff;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	margin: 0.25em;
	padding: 0.1em;
	position: absolute;
	right: 0.5em;
	top: 0.65em;
	z-index: 99;
}

.wf-active .ui-toggle-button:before {
	color: #35475B;
	content: "\f055";
	font-family: FontAwesome;
	font-size: 1.25em;
	line-height: 1;
	position: absolute;
	right: 0.2em;
	text-indent: 0;
	top: 0.1em;
}
.wf-active .ui-toggle-button {
	background-color: transparent;
	height: 1.5em;
	text-indent: -999em;
	width: 1.5em;
}

.ui-toggle-button:hover, 
.ui-toggle-button:focus, 
.ui-toggle-button:active {
	box-shadow: none;
	background: #35475B;
	color: #ffffff; 
}

.wf-active .ui-toggle-button[data-text="open"]:before {
	content: "\f057";
}
.wf-active .ui-toggle-button:hover,
.wf-active .ui-toggle-button:focus,
.wf-active .ui-toggle-button:active {
	background-color: transparent;
}

.sub-menu, 
.children {
	padding: 0;
	margin: 0;
	margin: 0.75em 0 0 0;
	list-style: none;
	clear: both; 
}

.footer .sub-menu, 
.footer .children {
	display: none; 
}

@media screen and (min-width: 43.75em) {
	.sub-menu, 
	.children {
		position: absolute;
		top: -999em;
		left: -999em;
		font-size: 14px;
		font-size: 0.875em;
		width: 12.5em;
		margin-top: 0;
		padding: 0.25em 0;
		background: rgba(183,208,232,0.95);
		border: 1px solid #8BB1DD; 
	}
}

.sub-menu > .menu-item, 
.sub-menu .page_item, 
.children > .menu-item, 
.children .page_item {
	border: 0;
	padding: 0;
	display: block; 
	text-align: left;
}

.sub-menu > .menu-item a, 
.sub-menu .page_item a, 
.children > .menu-item a, 
.children .page_item a {
	border: none;
	display: block;
	padding: 0.5em 1em; 
}

@media screen and (min-width: 43.75em) {
	.sub-menu > .menu-item a, 
	.sub-menu .page_item a, 
	.children > .menu-item a, 
	.children .page_item a {
		padding: 0.25em 1em;
		background: none; 
	} 
}

.sub-menu[aria-expanded="false"], 
.children[aria-expanded="false"] {
	display: none; 
}


/* /navigation styles */


/* footer styles */

#footer {
	background-color: #35475B;
	color: #ffffff;
	padding-top: 3em;
	padding-bottom: 5em;
}

#footer a:link, 
#footer a:visited {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	color: #B7D0E8;
	text-decoration: none;
}

.footer-contact {
	padding-bottom: 1em;
	width: 100%;
}
	@media only screen and (min-width: 43.75em) {
	    .footer-contact {
		    float: left;
		    width: 50%;
	    }
	}
.footer-contact p {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
}
.footer-contact .name {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
}

.nav-footer {
	float: left;
	width: 50%;
}
	@media only screen and (min-width: 43.75em) {
	    .nav-footer {
		    width: 30%;
	    }
	}
.nav-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-footer a {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.5; 
}

.footer-social-links {
	float: left;
	width: 50%;
}
	@media only screen and (min-width: 43.75em) {
	    .footer-social-links {
		    width: 20%;
	    }
	}
.footer-social-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-social-links a {
	font-size: 1.25em;
	line-height: 1.5;
}

/* /footer styles */

/* content area styles */
@media only screen and (min-width: 25em) {
    .content-area {
	    padding-bottom: 3em;
    }
}
@media only screen and (min-width: 43.75em) {
    .content-area {
	    padding-bottom: 5em;
    }
    .content-area .columns {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
		margin-left: -6.25%;
		margin-right: -6.25%;  
    }
}


/* /content area styles */

/* figure styles */
figure.small {
	width: 50%;
}
	@media only screen and (min-width: 25em) {
	    figure.small {
		    width: 33%;
	    }
	}
	@media only screen and (min-width: 43.75em) {
	    figure.small {
		    width: 25%;
	    }
	}


figure.circle {
	-webkit-shape-outside: circle();
    shape-outside: circle();
    -webkit-shape-box: content-box;
    shape-box: content-box;
}
figure.circle img {
	border-radius: 50%;
}
figure.left {
	float: left;
	margin-right: 1em;
}
figure.right {
	float: right;
	margin-left: 1em;
}
figure.left.hang-50 {
	margin-left: 0;
}
figure.right.hang-50 {
	margin-right: 0;
}
	@media only screen and (min-width: 43.75em) {
	    figure.left.hang-50 {
		    margin-left: -12.5%;
		    /* below compensates for lack of support for 'shape-box: content-box' */
		    shape-outside: polygon(35% 0, 75% 15%, 95% 35%, 100% 50%,95% 65%,75% 85%, 35% 100%);
	    }
	    figure.right.hang-50 {
		    margin-right: -12.5%;
		    /* below compensates for lack of support for 'shape-box: content-box' */
		    shape-outside: polygon(50% 0, 15% 15%, 5% 35%, 0 50%,5% 65%,15% 85%, 50% 100%);
	    }
	}


/* /figure styles */

