/*! site styles */
/*
	Breakpoints
	s-tab:   25em / 400px 
	l-tab:   43.75em / 700px
	desk:    56.25em / 900px
	m-desk:  71.875em / 1150px
	l-desk:  81.25em / 1300px

MQ Block:

@media only screen and (min-width: 25em) {
    
}

@media only screen and (min-width: 43.75em) {
    
}

@media only screen and (min-width: 56.25em) {
    
}

@media only screen and (min-width: 81.25em) {
    
}

Colors:

Orange: #DC5705;
Lightest Blue: #B7D0E8;
Light Blue: #8BB1DD;
Blue: #4A90E2;
Dark Blue: #35475B;

Gray: #494949;

Fonts: 

Serif: "Alegreya", Georgia, "New Times Roman", serif;
Sans-serif: "Alegreya Sans", Helvetica, Arial, sans-serif;


*/

/* ==========================================================================
   HTML Elements
   ========================================================================== */

* {
	box-sizing: border-box;
}

body, 
p, 
th, 
td, 
ul, 
li {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h1 {
	color: #35475B;
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
	font-size: 3em;
	font-weight: 900;
}

h2 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h3 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h4 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h5 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
}

h6 {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
	text-transform: uppercase;
}

p {
	margin: 0 0 1em 0;
}

img {
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}

figure {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   Responsive Typography
   ========================================================================== */

p, h1, h2, h3, h4, h5, h6 {
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: font-size linear 0.15s;
	-moz-transition: font-size linear 0.15s;
	transition: font-size linear 0.15s; 	
}

p {
	font-size: 1em;
	line-height: 1.4375;
}

h1 {
	font-size: 3em;
	line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 2.25em;
	line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.125em;
}

h3 {
	font-size: 1.875em;
    line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.125em;
}

h4 {
	font-size: 1.375em;
    line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.125em;
}

h5 {
	font-size: 1.25em;
    line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h6 {
	font-size: 1.125em;
    line-height: 1.125;
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}


/* ==========================================================================
   Layout
   ========================================================================== */

.section-content {
	margin: 0 auto;
	padding: 0 0.5em;
	width: 54em;
}

.content-area {
	clear: both;
}

/* ==========================================================================
   Modules
   ========================================================================== */

/* form styles */
form {
	max-width: 43em;
	margin: 0 auto;
}

.field-wrapper {
	margin-bottom: 1em;
	padding-right: 1em;
}

fieldset {
	display: block;
	margin-bottom: 1em;
	width: 100%;
}

.field-wrapper.inline {
	float: left;
}

.field-wrapper.third {
	width: 33.3333%;
}

.field-wrapper.third.larger-only {
	width: 33.3333%;
}

label, 
legend {
	display: block;
	font-weight: bold;
}

input[type="text"], 
input[type="search"], 
input[type="email"], 
input[type="tel"], 
input[type="password"], 
textarea {
	border: solid 1px #a1a1a1;
	border-radius: 0.15em;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	padding: 0.35em;
	width: 100%;
}

/* web fonts don't work nicely in password fields in Safari */
input[type="password"] {
	font-family: Helvetica, Arial, sans-serif;
}

input[type="radio"]+label {
	display: inline-block;
	font-weight: normal;
	max-width: 85%;
	padding-left: 0.5em;
	vertical-align: top;
}

input[type="submit"] {
	background-color: #35475B;
	background-image: -moz-linear-gradient(#55677B, #35475B);
	background-image: -webkit-linear-gradient(#55677B, #35475B);
	background-image: linear-gradient(#55677B, #35475B);
	border-color: #55677B #55677B #35475B;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-moz-border-radius: 0.25em / 0.25em;
	-webkit-border-radius: 0.25em 0.25em;
	border-radius: 0.15em / 0.15em;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #ffffff;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	padding: 0.35em 0.75em;
}


/* end form styles */

/* header styles */
#banner {
	background-size: 1em 1em;
	background-color: #DC5705;
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(0, 0, 0, .05) 25%, transparent 25%,
	                  transparent 50%, rgba(0, 0, 0, .05) 50%, rgba(0, 0, 0, .05) 75%,
	                  transparent 75%, transparent);
	color: #ffffff;
	padding-bottom: 2em;
	position: relative;
	z-index: 10;
}

.branding {
	margin: 0;
	padding: 1em 0;
}
.home .branding {
	text-align: center;
}

#logo {
	float: left;
	margin: 0 1em 0 -8em;
    width: 7em;
}

.home #logo {
	float: none;
	margin: 1.5em auto;
}
.branding h1 {
	color: #ffffff;
	font-size: 2em;
	margin: 0;
	margin-top: 0.5em;
}
.branding h1 a:link, 
.branding h1 a:visited {
	color: #ffffff; 
	text-decoration: none;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}

.branding h1 a:hover, 
.branding h1 a:focus {
	color: #ffffff; 
	text-decoration: underline;
}

.branding h2 {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}
.home .branding h2 {
	max-width: none;
}
/* /header styles */

/* navigation styles */

body:before {
	content: "widescreen";
	position: absolute;
	top: -999em;
	left: -999em;
	speak: none; 
}

.main-nav {
	background-color: #B7D0E8;
	background: -moz-linear-gradient(top, #B7D0E8 0%, #8BB1DD 100%);
	background: -webkit-linear-gradient(top, #B7D0E8 0%,#8BB1DD 100%);
	background: linear-gradient(to bottom, #B7D0E8 0%,#8BB1DD 100%);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
	display: block;
	margin: -1.25em auto 0 auto;
	float: none;
	padding: 0; 
	position: relative;
	top: 0;
	width: 54em;
	z-index: 15;
} 

.main-nav[aria-expanded="true"] {
	display: block;
	top: 0; 
	position: relative;
}

.nav-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1.4; 
}
	.flexbox .nav-menu {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		justify-content: space-around;		
	}
	
.nav-menu > ul {
	margin: 0;
	padding: 0; 
}

.nav-menu > ul .children {
	margin: 0;
	padding: 0 0 0 1em; 
}

.nav-menu > ul .children a {
	padding-left: 0;
	padding-right: 0; 
}

.nav-menu > ul .children .children > li {
	padding-left: 0.75em; 
} 

.menu-item {
	margin: 0;
	border-top: 1px solid #8BB1DD;
	overflow: hidden;
	padding: 1em 0; 
	position: relative;
}
	
.nav-menu .menu-item:first-child {
	border-top: none; 
}

.menu-item {
	border-top: 0;
	display: inline-block;
	overflow: visible; 
	padding: 0;
	position: relative;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}
.flexbox .menu-item {
	flex-grow: 1;
	text-align: center;
}

.menu-item a {
	border-bottom: 0;
	border-left: solid 1px #8BB1DD;
	border-right: solid 1px #B7D0E8;
	color: #ffffff;
	display: block;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 900;
	padding: 0.25em 1em 0.15em 1em; 
	text-decoration: none; 
	text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	-webkit-transition: background linear 0.15s;
	-moz-transition: background linear 0.15s;
	transition: background linear 0.15s; 
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}

.menu-item:first-child a {
	border-left: none;
}
.menu-item:last-child a {
	border-right: none;
}

.menu-item.active-trail {
	-webkit-box-shadow: 0 3px 0 0 #35475B;
	-moz-box-shadow: 0 3px 0 0 #35475B;
	box-shadow: 0 3px 0 0 #35475B;
}
.menu-item:hover > a, 
.menu-item:focus > a, 
.menu-item.child-has-focus > a, 
.menu-item.active-trail:hover > a, 
.menu-item.active-trail:focus {
	background: #35475B;
	background-image: none;
	-webkit-box-shadow: 0 3px 0 0 #35475B;
	-moz-box-shadow: 0 3px 0 0 #35475B;
	box-shadow: 0 3px 0 0 #35475B;
	color: #ffffff; 
	font-weight: 900;
	text-shadow: none;
}

.menu-item:hover .sub-menu, 
.menu-item:hover .children, 
.menu-item:focus .sub-menu, 
.menu-item:focus .children, 
.menu-item.child-has-focus .sub-menu, 
.menu-item.child-has-focus .children {
	top: 100%;
	left: 0;
	margin-right: -1px; 
}
  
.menu-item .sub-menu a, 
.menu-item .children a, 
.menu-item .sub-menu a, 
.menu-item .children a, 
.menu-item.child-has-focus .sub-menu a, 
.menu-item.child-has-focus .children a {
	font-weight: normal;
	color: #35475B;
	text-shadow: none;
	text-transform: none;
}

.menu-item:hover .sub-menu a, 
.menu-item:hover .children a, 
.menu-item:focus .sub-menu a, 
.menu-item:focus .children a, 
.menu-item.child-has-focus .sub-menu a, 
.menu-item.child-has-focus .children a {
	font-weight: normal;
	color: #35475B;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
	text-shadow: none;
}

.menu-item:hover .sub-menu a:hover, 
.menu-item:hover .sub-menu a:focus, 
.menu-item:hover .children a:hover, 
.menu-item:hover .children a:focus, 
.menu-item:focus .sub-menu a:hover, 
.menu-item:focus .sub-menu a:focus, 
.menu-item:focus .children a:hover, 
.menu-item:focus .children a:focus, 
.menu-item.child-has-focus .sub-menu a:hover, 
.menu-item.child-has-focus .sub-menu a:focus, 
.menu-item.child-has-focus .children a:hover, 
.menu-item.child-has-focus .children a:focus, 
.menu-item.active-trail .menu-item.active a {
	font-weight: 900; 
}

.ui-toggle-button {
	background-color: #35475B;
	border: 0;
	box-shadow: none;
	color: #ffffff;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-weight: normal; 
	margin: 0.25em;
	padding: 0.1em;
	position: absolute;
	right: 0.5em;
	top: 0.65em;
	z-index: 99;
}

.fontface .ui-toggle-button:before {
	color: #35475B;
	content: "\f055";
	font-family: FontAwesome;
	font-size: 1.25em;
	line-height: 1;
	position: absolute;
	right: 0.2em;
	text-indent: 0;
	top: 0.1em;
}
.fontface .ui-toggle-button {
	background-color: transparent;
	height: 1.5em;
	text-indent: -999em;
	width: 1.5em;
}

.ui-toggle-button:hover, 
.ui-toggle-button:focus, 
.ui-toggle-button:active {
	box-shadow: none;
	background: #35475B;
	color: #ffffff; 
}

.fontface .ui-toggle-button[data-text="open"]:before {
	content: "\f057";
}
.fontface .ui-toggle-button:hover,
.fontface .ui-toggle-button:focus,
.fontface .ui-toggle-button:active {
	background-color: transparent;
}


.footer .sub-menu, 
.footer .children {
	display: none; 
}

.sub-menu, 
.children {
	clear: both;
	font-size: 14px;
	font-size: 0.875em;
	left: -999em;
	list-style: none;
	margin: 0;
	min-width: 12.5em;
	padding: 0.25em 0; 
	position: absolute;
	top: -999em;
	width: 100%;
	background: rgba(183,208,232,0.95);
	border: 1px solid #8BB1DD; 
}

.sub-menu > .menu-item, 
.sub-menu .page_item, 
.children > .menu-item, 
.children .page_item {
	border: 0;
	padding: 0;
	display: block; 
	text-align: left;
}

.sub-menu > .menu-item a, 
.sub-menu .page_item a, 
.children > .menu-item a, 
.children .page_item a {
	background: none; 
	border: none;
	display: block;
	padding: 0.25em 1em; 
}

.sub-menu[aria-expanded="false"], 
.children[aria-expanded="false"] {
	display: none; 
}


/* /navigation styles */


/* footer styles */

#footer {
	background-color: #35475B;
	color: #ffffff;
	padding-top: 3em;
	padding-bottom: 5em;
}

#footer a:link, 
#footer a:visited {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	color: #B7D0E8;
	text-decoration: none;
}

.footer-contact {
	float: left;
	padding-bottom: 1em;
	width: 50%;
}
.footer-contact p {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
}
.footer-contact .name {
	font-family: "Alegreya", Georgia, "New Times Roman", serif;
	font-size: 1.25em;
	font-weight: bold;
}

.nav-footer {
	float: left;
	width: 30%;
}
.nav-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-footer a {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.5; 
}

.footer-social-links {
	float: left;
	width: 20%;
}
.footer-social-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-social-links a {
	font-size: 1.25em;
	line-height: 1.5;
}

/* /footer styles */

/* content area styles */
.content-area {
    padding-bottom: 5em;
}
.home .content-area h1 {
	margin: 1.25em auto 1.5em auto;
	max-width: none;
	text-align: center;
}

.site-section-name {
	color: #494949;
	font-size: 1em;
	margin: 0.75em 0 -1.75em 0;
	max-width: none;
	position: relative;
	text-transform: uppercase;
	z-index: 1;
}

.section-header {
	border-bottom: solid 1px #8BB1DD;
	font-size: 1.125em;
	font-variant: small-caps;
	max-width: 38.22222222222222em;
}

.intro {
	font-size: 1.25em;
	max-width: 34.4em;
}
/* /content area styles */

/* resume styles */
.resume-entry {
	max-width: 43em;
	margin: 0 auto 1.5em auto;
}
.resume-entry .title {
	display: inline-block;
	margin-top: 0;
	width: 80%;
}
.resume-entry .timeframe {
	display: block;
    float: right;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
    margin-top: 1em;
    text-align: right;
	width: 18%;
}
.resume-entry .subtitle {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0;
}

/* end resume styles */

/* portfolio styles */
.flexslider {
	margin-bottom: 1.5em;
}
.flex-caption {
	background-color: #B7D0E8;
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	padding: 0 0.15em;
}
.flex-direction-nav a {
	height: 2.5em;
	top: 37%;
	width: 2.5em;
}
.flex-direction-nav a:before {
	font-size: 2em;
}
.flex-control-thumbs {
	text-align: center;
}
.flex-control-thumbs li {
	display: inline-block;
	float: none;
	padding: 0 0.25em;
}
.flexbox .flex-control-thumbs {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;	
}
.flexbox .flex-control-thumbs li {
	flex-grow: 1;
}
.portfolio-images {
    float: left;
    margin-left: -12.5%;
	margin-right: 1em;
	width: 59%;
}
/* end portfolio styles */


/* card styles */

.flexbox .card-grouping {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;	
	margin-left: -1.5%;
	margin-right: -1.5%;	
}

.flexbox .card-grouping .card {
	flex: 1 0 31%;
	margin: 0 1% 1.5em;
}

.card {
	background-color: #f1f1f1;
}
.card figcaption {
	font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	font-weight: normal;
	padding-left: 0.44444444444444em;
	padding-right: 0.44444444444444em;
}

.card .roles {
	font-size: 0.875em;
	font-style: italic;
	padding-left: 0.57142857142857em;
	padding-right: 0.57142857142857em;
}

/* end card styles */

/* figure styles */
figure.small {
	width: 50%;
	-webkit-transition: width linear 0.2s;
	-moz-transition: width linear 0.2s;
    transition: width linear 0.2s;

}
	@media only screen and (min-width: 25em) {
	    figure.small {
		    width: 33%;
	    }
	}
	@media only screen and (min-width: 43.75em) {
	    figure.small {
		    width: 25%;
	    }
	}
	@media only screen and (min-width: 56.25em) {
	    figure.small {
		    width: 25%;
	    }
	}
	@media only screen and (min-width: 71.875em) {
	    figure.small {
		    width: 30%;
	    }
	}
	@media only screen and (min-width: 81.25em) {
	    figure.small {
		    width: 33%;
	    }
	}

figure.circle {
	-webkit-shape-outside: circle();
    shape-outside: circle();
    /* shape-box is not supported yet, but this is the syntax that should work when it is */
    -webkit-shape-box: content-box;
    shape-box: content-box;
}
figure.circle img {
	border-radius: 50%;
}
figure.left {
	float: left;
	margin-right: 1em;
}
figure.right {
	float: right;
	margin-left: 1em;
}
figure.left.hang-50 {
	margin-left: 0;
}
figure.right.hang-50 {
	margin-right: 0;
}
	@media only screen and (min-width: 43.75em) {
	    figure.left.hang-50 {
		    margin-left: -12.5%;
		    /* below compensates for lack of support for 'shape-box: content-box' */
		    -webkit-shape-outside: polygon(35% 0, 75% 15%, 95% 35%, 100% 50%,95% 65%,75% 85%, 35% 100%);
		    shape-outside: polygon(35% 0, 75% 15%, 95% 35%, 100% 50%,95% 65%,75% 85%, 35% 100%);
	    }
	    figure.right.hang-50 {
		    margin-right: -12.5%;
		    /* below compensates for lack of support for 'shape-box: content-box' */
		    -webkit-shape-outside: polygon(50% 0, 15% 15%, 5% 35%, 0 50%,5% 65%,15% 85%, 50% 100%);
		    shape-outside: polygon(50% 0, 15% 15%, 5% 35%, 0 50%,5% 65%,15% 85%, 50% 100%);
	    }
	}


/* /figure styles */


.section-content, 
.main-nav {
	max-width: 864px;
	width: 90%;
}



.section-content, 
.main-nav {
	width: 960px;
}
#logo {
	margin-left: 0;
}